@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap";
@font-face {
  font-family: yg-jalnan;
  src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff)
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --mainCol: #8894ff;
  --bgCol: #fff;
  --txCol: #222;
}

body {
  color: var(--txCol);
  background-color: var(--bgCol);
}

.bg-main {
  background-color: var(--mainCol);
}

.col-main {
  color: var(--mainCol);
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  font-family: yg-jalnan;
}
