@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap");
@import "https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap";

@font-face {
  font-family: yg-jalnan;
  src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff)
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --mainCol: #8894ff;
  --bgCol: #fff;
  --txCol: #222;
  --scroll: #f5f5f5;
}

:root.dark {
  --bgCol: #222;
  --txCol: #fff;
  --scroll: #525252;
}

body.load * {
  transition: 0s !important;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--mainCol);
}

*::-webkit-scrollbar-track {
  background-color: var(--scroll);
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  width: 100%;
  color: var(--txCol);
  background-color: var(--bgCol);
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

select,
input {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

.fs-yg {
  font-family: yg-jalnan;
}

.bg-main {
  background-color: var(--mainCol) !important;
}

.border-main {
  border-color: var(--mainCol) !important;
}

.col-main {
  color: var(--mainCol) !important;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header h1 {
  font-family: yg-jalnan;
}

.loading {
  height: calc(100vh - 300px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading svg {
  width: 100px;
}

.loading svg path {
  fill: var(--mainCol);
}

.swiper-slide {
  width: 100px !important;
}

.main-swiper .swiper-wrapper {
  align-items: stretch;
  transition-timing-function: linear;
}

.main-swiper .swiper-slide {
  width: 200px !important;
}

.swiper-button-next,
.swiper-button-prev {
  border-radius: 4px;
  width: 32px !important;
  height: 32px !important;
  margin-top: 0 !important;
  transform: translateY(-50%);
  background-color: var(--txCol);
  box-shadow: 0 0 10px var(--bgCol);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: var(--bgCol) !important;
  font-size: 16px !important;
}

.lf-player-container {
  width: 100%;
}
